
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


.font-outfit {
  font-family: 'Outfit', sans-serif;
}

body {
  background-image: url("../assets/login-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Add transition properties to smoothly animate the transformation */
.job-card {
  transition: transform 0.3s ease;
}

/* Apply the scale transformation on hover */
.job-card:hover {
  transform: scale(1.1);
}

  