
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

body {
  background-image: url("../assets/login-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #DAFFFB;
}

/* Add transition properties to smoothly animate the transformation */
.job-card {
  transition: transform 0.3s ease;
}

/* Apply the scale transformation on hover */
.job-card:hover {
  transform: scale(1.1);
}

.background-home {
  background-image: url(assets/landingpage.jpg);
  background-size: contain;
    filter: blur(2px) opacity(50%);
    position: absolute;
    z-index: -1;
    height: 80%
}

.landing-content {
  z-index: 9999;
  filter: none;
}

/* Add transition properties to smoothly animate the transformation */
.job-card {
  transition: transform 0.3s ease;
}

/* Apply the scale transformation on hover */
.job-card:hover {
  transform: scale(1.1);
}

.swal2-container {
  z-index: 20000;
}

  
.spinner-style {
  width: 250px;
  height: 250px;
}
